<h1>Tienda online de zapatillas deportivas</h1>
<app-navbar></app-navbar>

<!-- Mostramos el componente app-article-list -->
<!-- <div *ngIf="showArticleList">
 -->  <app-article-list></app-article-list>
<!-- </div>
 -->
<!-- Mostramos el componente app-article-new-template -->
<!-- <div *ngIf="showArticleNewTemplate">
  <app-article-new-template></app-article-new-template>
</div>
 -->
<!-- Mostramos el componente app-article-new-reactive -->
<!-- <div *ngIf="showArticleNewReactive">
  <app-article-new-reactive></app-article-new-reactive>
</div> -->
