<div class="container">
    <div class="article-item-container"
    [class]="article.isOnSale ? 'onSale' : ''">
        <img [src]="article.imageUrl" [alt]="article.name" />
        <div class="name">{{ article.name }}</div>
        <div class="price" [ngClass]="{'unavalaible': !article.isOnSale}">{{ article.price }} €</div>
        <div class="quantity-container" *ngIf="article.isOnSale">
            <button (click)="decrement()" [disabled]="article.quantityInCart === 0">-</button>
            <div class="quantityInCart">{{ article.quantityInCart }}</div>
            <button (click)="increment()">+</button>
        </div>
    </div>
</div>