<div class="container">
    <div class="article-item-container"
    [class]="isOnSale ? 'onSale' : ''">
        <img [src]="imageUrl" [alt]="name" />
        <div class="name">{{ name }}</div>
        <div class="price">{{ price }} €</div>
        <div class="quantity-container">
            <button (click)="decrement()" [disabled]="quantityInCart === 0">-</button>
            <div class="quantityInCart">{{ quantityInCart }}</div>
            <button (click)="increment()">+</button>
        </div>
    </div>
</div>