<div class="form-group">
  <form (ngSubmit)="createArticle(articleForm)" #articleForm="ngForm" >
    <div ngModelGroup="article">
      <div class="article-name">
        <label for="name">Nombre del artículo:</label>
        <input type="text"
              id="name"
              placeholder="Nombre del artículo"
              required
              name="name"
              #articleName="ngModel"
              ngModel>
        <div *ngIf="articleName.invalid && (articleName.dirty || articleName.touched || articleForm.submitted)" class="error-message">
          <div *ngIf="articleName?.errors?.['required']">El nombre del artículo es obligatorio</div>
        </div>
      </div>
      <div class="article-price">
        <label for="price">Precio:</label>
        <input type="number"
              id="price"
              placeholder="Precio"
              required
              name="price"
              #articlePrice="ngModel"
              ngModel>
        <div *ngIf="articlePrice.invalid && (articlePrice.dirty || articlePrice.touched || articleForm.submitted)" class="error-message">
          <div *ngIf="articlePrice?.errors?.['required']">El precio es obligatorio</div>
        </div>
      </div>
      <div class="article-image">
        <label for="imageUrl">URL de la imagen:</label>
        <input type="text"
              id="imageUrl"
              placeholder="URL de la imagen"
              name="imageUrl"
              required
              pattern="^(https?:\/\/)(www\.)?[A-Za-z0-9]+(\.[A-Za-z]{2,3})\/[^\s]*\.(?:png|jpe?g|gif)$"
              #articleImageUrl="ngModel"
              ngModel>
        <div *ngIf="articleImageUrl.invalid && (articleImageUrl.dirty || articleImageUrl.touched || articleForm.submitted)" class="error-message">
          <div *ngIf="articleImageUrl?.errors?.['required']">La URL de la imagen es obligatoria.</div>
          <div *ngIf="articleImageUrl?.errors?.['pattern']">La URL de la imagen no es válida</div>
        </div>
      </div>
      <div class="article-onsale">
        <label for="isOnSale">¿Está en venta?:</label>
        <input type="checkbox"
            id="isOnSale"
            name="isOnSale"
            #articleIsOnSale="ngModel"
            ngModel>
      </div>
    </div> 
    <button type="submit">Crear</button>
  </form>
</div>
<div *ngIf="article?.name">
  <h4>El artículo "{{ article.name }}" ha creado con los siguientes datos:</h4>
  <ul>
    <li><strong>Precio:</strong>{{ article.price }}</li>
    <li><strong>URL de la imagen:</strong>{{ article.imageUrl }}</li>
    <li><strong>Precio:</strong>{{ article.isOnSale }}</li>
  </ul>
</div>